plugins/org.ijis.gra.uml.examples/src/main/resources/org.ijis.gra.uml.examples/COR_SSP_v_1.0.0x/CorrectionsIEPDModel2014GRA/schema/SIP/SubjectServiceInterface.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns:CRX="http://it.ojp.gov/gist/200/Corrections/exchange" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:tns="http://my.org/schema/SIP/SubjectServiceInterfaceService" xmlns:wsaws="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SubjectServiceInterface" targetNamespace="http://my.org/schema/SIP/SubjectServiceInterfaceService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">
      <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/exchange"/>
    </xsd:schema>
  </types>
  <message name="SubscribeToSubjectMessage">
    <part element="CRX:SubscriptionMessage" name="SubscriptionMessage"/>
    <part element="CRX:ExchangeAgreementMessage" name="ExchangeAgreementMessage"/>
  </message>
  <message name="OperationResultMessage">
    <part element="CRX:OperationResult" name="OperationResult"/>
  </message>
  <message name="CancelSubscriptionMessage"/>
  <message name="RepositoryMetadataType">
    <part element="CRX:Repository" name="Repository"/>
  </message>
  <message name="SubjectUpdateMessage">
    <part element="CRX:SubjectInformationMessage" name="SubjectInformationMessage"/>
    <part element="CRX:ExchangeAgreementMessage" name="ExchangeAgreementMessage"/>
  </message>
  <message name="OperationResultMessage">
    <part element="CRX:OperationResult" name="OperationResult"/>
  </message>
  <message name="RepositoryMetadataType">
    <part element="CRX:Repository" name="Repository"/>
  </message>
  <message name="EntityQueryMessage">
    <part element="CRX:ExchangeAgreementMessage" name="ExchangeAgreementMessage"/>
    <part element="CRX:EntityQueryMessage" name="EntityQueryMessage"/>
  </message>
  <message name="SubjectInformationMessage">
    <part element="CRX:SubjectInformationMessage" name="SubjectInformationMessage"/>
  </message>
  <message name="RepositoryMetadataType">
    <part element="CRX:Repository" name="Repository"/>
  </message>
  <message name="SubjectQueryMessage">
    <part element="CRX:ExchangeAgreementMessage" name="ExchangeAgreementMessage"/>
    <part element="CRX:SubjectQueryMessage" name="SubjectQueryMessage"/>
  </message>
  <portType name="SubjectSubscriptionInterface">
    <operation name="SubscribeToSubject">
      <input message="tns:SubscribeToSubjectMessage" name="subscribeToSubject"/>
      <output message="tns:OperationResultMessage" name="unnamed1"/>
    </operation>
    <operation name="CancelSubscription">
      <input message="tns:CancelSubscriptionMessage" name="cancelSubscription"/>
      <output message="tns:OperationResultMessage" name="unnamed1"/>
    </operation>
    <operation name="GetMetadata">
      <output message="tns:RepositoryMetadataType" name="unnamed1"/>
    </operation>
  </portType>
  <portType name="SubjectUpdateInterface">
    <operation name="SubjectUpdate">
      <input message="tns:SubjectUpdateMessage" name="subjectUpdateMessage"/>
      <output message="tns:OperationResultMessage" name="unnamed1"/>
    </operation>
    <operation name="GetMetadata">
      <output message="tns:RepositoryMetadataType" name="unnamed1"/>
    </operation>
  </portType>
  <portType name="SubjectQueryInterface">
    <operation name="EntityQuery">
      <input message="tns:EntityQueryMessage" name="entityQuery"/>
      <output message="tns:SubjectInformationMessage" name="unnamed1"/>
    </operation>
    <operation name="GetMetadata">
      <output message="tns:RepositoryMetadataType" name="unnamed1"/>
    </operation>
    <operation name="SubjectQuery">
      <input message="tns:SubjectQueryMessage" name="subjectQuery"/>
      <output message="tns:SubjectInformationMessage" name="unnamed1"/>
    </operation>
  </portType>
  <binding name="SubjectSubscriptionSOAPBindingSubjectSubscriptionPortBinding" type="tns:SubjectSubscriptionInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaws:UsingAddressing/>
    <operation name="SubscribeToSubject">
      <soap:operation soapAction="http://my.org/schema/SIP/CaseFileProvider/SubjectSubscriptionInterface/SubscribeToSubject" style="document"/>
      <input name="subscribeToSubject"/>
      <output name="unnamed1"/>
    </operation>
    <operation name="CancelSubscription">
      <soap:operation soapAction="http://my.org/schema/SIP/CaseFileProvider/SubjectSubscriptionInterface/CancelSubscription" style="document"/>
      <input name="cancelSubscription"/>
      <output name="unnamed1"/>
    </operation>
    <operation name="GetMetadata">
      <soap:operation soapAction="http://my.org/schema/SIP/CaseFileProvider/SubjectSubscriptionInterface/GetMetadata" style="document"/>
      <output name="unnamed1"/>
    </operation>
  </binding>
  <binding name="SubjectUpdateSOAPBindingSubjectUpdatePortBinding" type="tns:SubjectUpdateInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaws:UsingAddressing/>
    <operation name="SubjectUpdate">
      <soap:operation soapAction="http://my.org/schema/SIP/CaseFileProvider/SubjectUpdateInterface/SubjectUpdate" style="document"/>
      <input name="subjectUpdateMessage"/>
      <output name="unnamed1"/>
    </operation>
    <operation name="GetMetadata">
      <soap:operation soapAction="http://my.org/schema/SIP/CaseFileProvider/SubjectUpdateInterface/GetMetadata" style="document"/>
      <output name="unnamed1"/>
    </operation>
  </binding>
  <binding name="SubjectQuerySOAPBindingSubjectQueryPortBinding" type="tns:SubjectQueryInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaws:UsingAddressing/>
    <operation name="EntityQuery">
      <soap:operation soapAction="http://my.org/schema/SIP/CaseFileProvider/SubjectQueryInterface/EntityQuery" style="document"/>
      <input name="entityQuery"/>
      <output name="unnamed1"/>
    </operation>
    <operation name="GetMetadata">
      <soap:operation soapAction="http://my.org/schema/SIP/CaseFileProvider/SubjectQueryInterface/GetMetadata" style="document"/>
      <output name="unnamed1"/>
    </operation>
    <operation name="SubjectQuery">
      <soap:operation soapAction="http://my.org/schema/SIP/CaseFileProvider/SubjectQueryInterface/SubjectQuery" style="document"/>
      <input name="subjectQuery"/>
      <output name="unnamed1"/>
    </operation>
  </binding>
  <service name="CaseFileProviderService">
    <port binding="tns:SubjectQuerySOAPBindingSubjectQueryPortBinding" name="SubjectQueryPortPort">
      <soap:address location="schema/SIP/CaseFileProvider/SubjectQuerySOAPBinding"/>
    </port>
    <port binding="tns:SubjectSubscriptionSOAPBindingSubjectSubscriptionPortBinding" name="SubjectSubscriptionPortPort">
      <soap:address location="schema/SIP/CaseFileProvider/SubjectSubscriptionSOAPBinding"/>
    </port>
    <port binding="tns:SubjectUpdateSOAPBindingSubjectUpdatePortBinding" name="SubjectUpdatePortPort">
      <soap:address location="schema/SIP/CaseFileProvider/SubjectUpdateSOAPBinding"/>
    </port>
  </service>
</definitions>
