plugins/org.ijis.gra.uml.examples/src/main/resources/org.ijis.gra.uml.examples/COR_SSP_v_1.0.0/COR_SSP_v_1.0.0/artifacts/service model/information model/Corrections_iepd/XMLschemas/ExchangeTypeModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:AGREE="http://it.ojp.gov/gist/200/Corrections/exchangeAgreement" xmlns:CAT="http://it.ojp.gov/gist/200/Corrections/category" xmlns:CREXT="http://it.ojp.gov/gist/200/Corrections/exchangeTypes" xmlns:ENTITY="http://it.ojp.gov/gist/200/Corrections/entities" xmlns:HOUSE="http://it.ojp.gov/gist/200/Corrections/housing" xmlns:PLAN="http://it.ojp.gov/gist/200/Corrections/plan" xmlns:Q1="http://it.ojp.gov/gist/200/Corrections/notification" xmlns:SERVICE="http://it.ojp.gov/gist/200/Corrections/service" xmlns:SUBJ="http://it.ojp.gov/gist/200/Corrections/subject" xmlns:TREAT="http://it.ojp.gov/gist/200/Corrections/treatments" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:j="http://niem.gov/niem/domains/jxdm/4.1" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://it.ojp.gov/gist/200/Corrections/exchangeTypes" version="&quot;1&quot;">
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/entities" schemaLocation="../XMLschemas/Content/extension/EntityExtension.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/housing" schemaLocation="../XMLschemas/Content/extension/HousingExtension.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/category" schemaLocation="../XMLschemas/Content/extension/CategoryExtension.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../XMLschemas/Content/subset/niem/2.0/niem-core.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/treatments" schemaLocation="../XMLschemas/Content/extension/TreatmentAndPerscriptionExtension.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/service" schemaLocation="../XMLschemas/Content/extension/SubjectServicesAndAssessments.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1" schemaLocation="../XMLschemas/Content/subset/niem/2.0/jxdm.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/exchangeAgreement" schemaLocation="../XMLschemas/Content/extension/ExchangeAgreementExtension.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/subject" schemaLocation="../XMLschemas/Content/extension/CorrectionsSubjectExtension.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/plan" schemaLocation="../XMLschemas/Content/extension/PlanExtension.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/notification" schemaLocation="../XMLschemas/Content/extension/NotiificationExtension.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../XMLschemas/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../XMLschemas/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../XMLschemas/structures/2.0/structures.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../XMLschemas/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:complexType abstract="false" mixed="false" name="EntityQueryMessageType">
    <xsd:annotation>
      <xsd:documentation>A data type for a message to get information about any entity in a data resource</xsd:documentation>
      <xsd:appinfo>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="CREXT:EntityIdentification"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="CREXT:DetailLevelCode"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:CategoryResource"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="EntityIdentification" nillable="false" substitutionGroup="s:Augmentation" type="ENTITY:EntityAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>Information required to identify an entity and find additional information about that entity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="DetailLevelCode" nillable="false" type="AGREE:DetailLevelCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>Level of detail requested</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="CategoryResource" nillable="false" type="CREXT:CategoryResourceType">
    <xsd:annotation>
      <xsd:documentation>categories</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="CategoryResourceType">
    <xsd:annotation>
      <xsd:documentation>A data type for The Type referenced by the top level exchange element.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:Category"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:ScoreBasis"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:Organization"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:IncludedCategoryResourceURI"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="Category" nillable="false" type="CAT:CategoryType">
    <xsd:annotation>
      <xsd:documentation>categories defines herein</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ScoreBasis" nillable="false" type="CAT:ScoreBasisType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>score basis</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Organization" nillable="false" type="nc:OrganizationType">
    <xsd:annotation>
      <xsd:documentation>organization</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="IncludedCategoryResourceURI" nillable="false" type="niem-xsd:anyURI">
    <xsd:annotation>
      <xsd:documentation>other category resources to be included by reference based on their URI</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="ExchangeAgreementMessageType">
    <xsd:annotation>
      <xsd:documentation>A data type for A data type representing data in an exchange agreement</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:ExchangeAgreement"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="ExchangeAgreement" nillable="false" type="AGREE:ExchangeAgreementType">
    <xsd:annotation>
      <xsd:documentation>Exchange agreement(s)</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="OperationResultType">
    <xsd:annotation>
      <xsd:documentation>A data type for A data type representing the result of an operation</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="CREXT:SucessIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="CREXT:OperaionResultText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="SucessIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>True of Success of the operation</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OperaionResultText" nillable="false" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation> the result of a query or subscription</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="SubjectQueryMessageType">
    <xsd:annotation>
      <xsd:documentation>A data type for A data type representing a query about an individual</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="CREXT:PersonLocator"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:CategoryResource"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="CREXT:DetailLevelCode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="PersonLocator" nillable="false" type="ENTITY:PersonLocatorType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>recored locator for a person</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="SubjectInformationMessageType">
    <xsd:annotation>
      <xsd:documentation>A data type for A data type representing information about one or more subjects</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:choice maxOccurs="unbounded" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>A data type for A data type representing information about one or more entities</xsd:documentation>
            </xsd:annotation>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:Person"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:ContactInformation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:Subject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:Offense"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:Organization"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:Plan"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:Program"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:Assessment"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:Treatment"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:Education"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:Incident"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:Facility"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:ServiceProvider"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:Medication"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:NotificationSubscription"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:EnforcementOfficial"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:Sanction"/>
          </xsd:choice>
          <xsd:choice maxOccurs="unbounded" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>A data type for A data type representing information about one or more associations</xsd:documentation>
            </xsd:annotation>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:PersonContactInformationAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:PersonEmploymentAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:PersonResidenceAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:PersonLocationAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:HousingAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:ActivitySubjectAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:OffenseSubjectAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:OffenseItemAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:OffenseIncidentAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:OffenseDispositionAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:FacilityPersonAssociation"/>
          </xsd:choice>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:CategoryResource"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="CREXT:OperationResult"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="Person" nillable="false" type="SERVICE:PersonType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>person</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ContactInformation" nillable="false" type="nc:ContactInformationType">
    <xsd:annotation>
      <xsd:documentation>contact information</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Subject" nillable="false" type="SUBJ:SubjectType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>subject</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Offense" nillable="false" type="ENTITY:OffenseType">
    <xsd:annotation>
      <xsd:documentation>offense</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Plan" nillable="false" type="PLAN:PlanType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>paln</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Program" nillable="false" type="ENTITY:ProgramType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>program</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Assessment" nillable="false" type="SERVICE:AssessmentType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>assessment</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Treatment" nillable="false" type="TREAT:TreatmentType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>treatment</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Education" nillable="false" type="SERVICE:EducationType">
    <xsd:annotation>
      <xsd:documentation>education</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Incident" nillable="false" type="ENTITY:IncidentType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>incident</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Facility" nillable="false" type="ENTITY:FacilityType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>facility</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceProvider" nillable="false" type="SERVICE:ServiceProviderType">
    <xsd:annotation>
      <xsd:documentation>service provider</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Medication" nillable="false" type="TREAT:MedicationType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>medications</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="NotificationSubscription" nillable="false" type="Q1:NotificationSubscriptionType">
    <xsd:annotation>
      <xsd:documentation>notification subscriptions</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="EnforcementOfficial" nillable="false" type="j:EnforcementOfficialType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>officials</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Sanction" nillable="false" type="j:SanctionType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>sanctions</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonContactInformationAssociation" nillable="false" type="nc:PersonContactInformationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>person contact information</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonEmploymentAssociation" nillable="false" type="nc:PersonEmploymentAssociationType">
    <xsd:annotation>
      <xsd:documentation>person employment</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonResidenceAssociation" nillable="false" type="nc:PersonResidenceAssociationType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>person residence</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonLocationAssociation" nillable="false" type="nc:PersonLocationAssociationType">
    <xsd:annotation>
      <xsd:documentation>person location</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="HousingAssociation" nillable="false" type="HOUSE:HousingAssociationType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>person housing</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ActivitySubjectAssociation" nillable="false" type="j:ActivitySubjectAssociationType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>person activities</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OffenseSubjectAssociation" nillable="false" type="j:OffenseSubjectAssociationType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>offenses for subject</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OffenseItemAssociation" nillable="false" type="j:OffenseItemAssociationType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>items for offense</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OffenseIncidentAssociation" nillable="false" type="j:OffenseIncidentAssociationType">
    <xsd:annotation>
      <xsd:documentation>incident for offense</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OffenseDispositionAssociation" nillable="false" type="j:OffenseDispositionAssociationType">
    <xsd:annotation>
      <xsd:documentation>disposition of offense</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="FacilityPersonAssociation" nillable="false" type="nc:FacilityPersonAssociationType">
    <xsd:annotation>
      <xsd:documentation>facilities for a person</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OperationResult" nillable="false" type="CREXT:OperationResultType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="SubscriptionMessageType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:SubjectSubscribedTo"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="CREXT:SubscriberPerson"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="CREXT:SubscriberContactInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="CREXT:SubscriberOrganization"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="CREXT:SubscriberContactInformationAssociation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:NotificationSubscription"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="SubjectSubscribedTo" nillable="false" type="ENTITY:PersonLocatorType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SubscriberPerson" nillable="false" type="SERVICE:PersonType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>person</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SubscriberContactInformation" nillable="false" type="nc:ContactInformationType">
    <xsd:annotation>
      <xsd:documentation>contact information</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SubscriberOrganization" nillable="false" type="ENTITY:OrganizationType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>organization</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SubscriberContactInformationAssociation" nillable="false" type="nc:PersonContactInformationAssociationType">
    <xsd:annotation>
      <xsd:documentation>person contact information</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="RepositoryMetadataType">
    <xsd:annotation>
      <xsd:documentation>A data type for A data type representing category and exchange agreement metadata</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:CategoryResource"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:ExchangeAgreement"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CREXT:Organization"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
</xsd:schema>
