plugins/org.ijis.gra.uml.examples/src/main/resources/org.ijis.gra.uml.examples/Corrections_SSP_GRA_Annotation/Corrections_GRA_Example/schema/SIP/CaseFileProvider.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns:CRSUB="http://it.ojp.gov/gist/200/Corrections/SubjectMessageTypes" xmlns:MSG="http://it.ojp.gov/gist/200/Corrections/MessageBase" xmlns:MetaMSG="http://it.ojp.gov/gist/200/Corrections/MetaMessages" xmlns:SAN="http://ijis.org/GRA/Annotations" xmlns:SANWSDL="http:/ijis.org/GRA/WSDLAnnotations" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:template="http://gra.ijis.org/template" xmlns:tns="http://my.org/CorrectionsComponents/CaseFileProvider" xmlns:wsaws="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CaseFileProvider" targetNamespace="http://my.org/CorrectionsComponents/CaseFileProvider" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <SANWSDL:WSDLServiceProvider wsu:Id="CaseFIleProvider">
    <SANWSDL:interface_default>
      <SANWSDL:BindingCode>http_get</SANWSDL:BindingCode>
      <SANWSDL:requirement>
        <SAN:ServiceMetadataAvailability>true</SAN:ServiceMetadataAvailability>
        <SAN:Logging>false</SAN:Logging>
        <SAN:TransactionSupport>false</SAN:TransactionSupport>
      </SANWSDL:requirement>
    </SANWSDL:interface_default>
  </SANWSDL:WSDLServiceProvider>
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">
      <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/SubjectMessageTypes" schemaLocation="../.././XMLschemas/exchange/SubjectMessageModel.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">
      <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/MessageBase" schemaLocation="../.././XMLschemas/exchange/MessageBase.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified">
      <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../platform:/resource/org.ijis.gra.uml.examples/src/main/resources/org.ijis.gra.uml.examples/Corrections_SSP_GRA_Annotation/Corrections_GRA_Example/XMLschemas/proxy/xsd/2.0/xsd.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">
      <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/MetaMessages" schemaLocation="../.././XMLschemas/exchange/MetadataMessageModel.xsd"/>
    </xsd:schema>
  </types>
  <message name="SubjectInformationMessage">
    <part name="SubjectInformationMessage" type="CRSUB:SubjectInformationMessage"/>
  </message>
  <message name="OperationResult">
    <part name="OperationResult" type="MSG:OperationResult"/>
  </message>
  <message name="SubjectQueryMessage">
    <part name="SubjectQueryMessage" type="CRSUB:SubjectQueryMessage"/>
  </message>
  <message name="EntityQueryMessage">
    <part name="EntityQueryMessage" type="CRSUB:EntityQueryMessage"/>
  </message>
  <message name="string">
    <part name="string" type="niem-xsd:string"/>
  </message>
  <message name="SubscriptionMessage">
    <part name="SubscriptionMessage" type="CRSUB:SubscriptionMessage"/>
  </message>
  <message name="RepositoryMetadataMessage">
    <part name="RepositoryMetadataMessage" type="MetaMSG:RepositoryMetadataMessage"/>
  </message>
  <portType name="SubjectUpdateInterface">
    <operation name="SubjectUpdate">
      <input message="tns:SubjectInformationMessage" name="subject_information"/>
      <output message="tns:OperationResult" name="OperationResult"/>
    </operation>
  </portType>
  <portType name="SubjectQueryInterface">
    <operation name="SubjectQuery">
      <input message="tns:SubjectQueryMessage" name="subject_identification"/>
      <output message="tns:SubjectInformationMessage" name="SubjectQueryreturn"/>
    </operation>
    <operation name="EntityQuery">
      <input message="tns:EntityQueryMessage" name="entity_identification"/>
      <output message="tns:SubjectInformationMessage" name="SubjectInformationMessage"/>
    </operation>
  </portType>
  <portType name="SubjectSubscriptionInterface">
    <operation name="CancelSubscription">
      <input message="tns:string" name="SubscriptionIDText"/>
      <output message="tns:OperationResult" name="OperationResult"/>
    </operation>
    <operation name="SubscribeToSubject">
      <input message="tns:SubscriptionMessage" name="subscription"/>
      <output message="tns:OperationResult" name="OperationResult"/>
    </operation>
  </portType>
  <portType name="MetadataInterface">
    <SANWSDL:WSDLInterface wsu:Id="MetadataInterface">
      <SANWSDL:BindingCode>http_get</SANWSDL:BindingCode>
      <SANWSDL:requirement>
        <SAN:ServiceMetadataAvailability>true</SAN:ServiceMetadataAvailability>
        <SAN:Logging>false</SAN:Logging>
        <SAN:TransactionSupport>false</SAN:TransactionSupport>
      </SANWSDL:requirement>
    </SANWSDL:WSDLInterface>
    <operation name="GetMetadata">
      <output message="tns:RepositoryMetadataMessage" name="RepositoryMetadataMessage"/>
    </operation>
  </portType>
  <binding name="SubjectUpdateInterfaceSubjectUpdatePointBinding" type="tns:SubjectUpdateInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaws:UsingAddressing xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" wsdl:required="true"/>
    <operation name="SubjectUpdate">
      <soap:operation soapAction="http://my.org/CorrectionsInterfaces/SubjectUpdateInterface/SubjectUpdate" style="document"/>
      <input name="subject_information">
        <soap:body parts="request" use="literal"/>
      </input>
      <output name="OperationResult">
        <soap:body parts="response" use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="SubjectQueryInterfaceSubjectQueryPointBinding" type="tns:SubjectQueryInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaws:UsingAddressing xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" wsdl:required="true"/>
    <operation name="SubjectQuery">
      <soap:operation soapAction="http://my.org/CorrectionsInterfaces/SubjectQueryInterface/SubjectQuery" style="document"/>
      <input name="subject_identification">
        <soap:body parts="request" use="literal"/>
      </input>
      <output name="SubjectQueryreturn">
        <soap:body parts="response" use="literal"/>
      </output>
    </operation>
    <operation name="EntityQuery">
      <soap:operation soapAction="http://my.org/CorrectionsInterfaces/SubjectQueryInterface/EntityQuery" style="document"/>
      <input name="entity_identification">
        <soap:body parts="request" use="literal"/>
      </input>
      <output name="SubjectInformationMessage">
        <soap:body parts="response" use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="SubjectSubscriptionInterfaceSubscriptionPointBinding" type="tns:SubjectSubscriptionInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaws:UsingAddressing xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" wsdl:required="true"/>
    <operation name="CancelSubscription">
      <soap:operation soapAction="http://my.org/CorrectionsInterfaces/SubjectSubscriptionInterface/CancelSubscription" style="document"/>
      <input name="SubscriptionIDText">
        <soap:body parts="request" use="literal"/>
      </input>
      <output name="OperationResult">
        <soap:body parts="response" use="literal"/>
      </output>
    </operation>
    <operation name="SubscribeToSubject">
      <soap:operation soapAction="http://my.org/CorrectionsInterfaces/SubjectSubscriptionInterface/SubscribeToSubject" style="document"/>
      <input name="subscription">
        <soap:body parts="request" use="literal"/>
      </input>
      <output name="OperationResult">
        <soap:body parts="response" use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="MetadataInterfaceMetadataPortBinding" type="tns:MetadataInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaws:UsingAddressing xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" wsdl:required="true"/>
    <SANWSDL:WSDLInterface wsu:Id="MetadataInterface">
      <SANWSDL:BindingCode>http_get</SANWSDL:BindingCode>
      <SANWSDL:requirement>
        <SAN:ServiceMetadataAvailability>true</SAN:ServiceMetadataAvailability>
        <SAN:Logging>false</SAN:Logging>
        <SAN:TransactionSupport>false</SAN:TransactionSupport>
      </SANWSDL:requirement>
    </SANWSDL:WSDLInterface>
    <operation name="GetMetadata">
      <soap:operation soapAction="http://my.org/CorrectionsInterfaces/MetadataInterface/GetMetadata" style="document"/>
      <output name="RepositoryMetadataMessage">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CaseFileProviderService">
    <port binding="tns:SubjectUpdateInterfaceSubjectUpdatePointBinding" name="SubjectUpdatePointPort">
      <soap:address/>
    </port>
    <port binding="tns:SubjectQueryInterfaceSubjectQueryPointBinding" name="SubjectQueryPointPort">
      <soap:address/>
    </port>
    <port binding="tns:SubjectSubscriptionInterfaceSubscriptionPointBinding" name="SubscriptionPointPort">
      <soap:address/>
    </port>
    <port binding="tns:MetadataInterfaceMetadataPortBinding" name="MetadataPortPort">
      <soap:address/>
    </port>
  </service>
</definitions>
