plugins/org.ijis.gra.uml.examples/src/main/resources/org.ijis.gra.uml.examples/Coorrections_SSP_GRA_md05/Coorrections_SSP_GRA_md05/CorrectionsComponents/CaseFileProvider.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns:AGREE="http://it.ojp.gov/gist/200/Corrections/exchangeAgreement" xmlns:CAT="http://it.ojp.gov/gist/200/Corrections/notification" xmlns:CRSUB="http://it.ojp.gov/gist/200/Corrections/SubjectMessageTypes" xmlns:ENTITY="http://it.ojp.gov/gist/200/Corrections/entities" xmlns:MSG="http://it.ojp.gov/gist/200/Corrections/MessageBase" xmlns:MetaMSG="http://it.ojp.gov/gist/200/Corrections/MetaMessages" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:template="http://gra.ijis.org/template" xmlns:tns="http://my.org/CorrectionsComponents/CaseFileProvider" xmlns:wsaws="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CaseFileProvider" targetNamespace="http://my.org/CorrectionsComponents/CaseFileProvider" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">
      <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation=".././XMLschemas/Content/subset/niem/2.0/niem-core.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">
      <xsd:import/>
    </xsd:schema>
  </types>
  <message name="SubscriptionMessage">
    <part name="SubscriberContactInformationAssociation" type="nc:PersonContactInformationAssociationType"/>
    <part name="SubjectSubscribedTo" type="ENTITY:EntityIdentity"/>
    <part name="SubscriberOrganization" type="ENTITY:Organization"/>
    <part name="NotificationSubscription" type="CAT:NotificationSubscription"/>
    <part name="SubscriberEntity" type="ENTITY:EntityIdentity"/>
    <part name="SubscriberContactInformation" type="nc:ContactInformationType"/>
  </message>
  <message name="OperationResult">
    <part name="OperationResultCode" type="MSG:OperationResultCodes"/>
    <part name="OperaionResultText"/>
  </message>
  <message name="string"/>
  <message name="EntityQueryMessage">
    <part name="EntityIdentification" type="ENTITY:EntityIdentity"/>
    <part name="DetailLevelCode" type="AGREE:DetailLevelCode"/>
  </message>
  <message name="SubjectInformationMessage">
    <part name="Entities" type="CRSUB:Entities"/>
    <part name="Associations" type="CRSUB:Associations"/>
    <part name="OperationResult" type="MSG:OperationResult"/>
  </message>
  <message name="SubjectQueryMessage">
    <part name="PersonLocator" type="ENTITY:PersonMinimal"/>
    <part name="DetailLevelCode" type="AGREE:DetailLevelCode"/>
  </message>
  <message name="SubjectInformationMessage">
    <part name="Entities" type="CRSUB:Entities"/>
    <part name="Associations" type="CRSUB:Associations"/>
    <part name="OperationResult" type="MSG:OperationResult"/>
  </message>
  <message name="OperationResult">
    <part name="OperationResultCode" type="MSG:OperationResultCodes"/>
    <part name="OperaionResultText"/>
  </message>
  <message name="RepositoryMetadataMessage">
    <part name="CategoryResource" type="MetaMSG:CategoryResource"/>
    <part name="Organization" type="ENTITY:OrganizationMinimal"/>
    <part name="IncludedMetadataResourceURI"/>
    <part name="ExchangeAgreementResource" type="MetaMSG:ExchangeAgreementResource"/>
    <part name="MetadataURI"/>
  </message>
  <portType name="SubjectSubscriptionInterface">
    <operation name="SubscribeToSubject">
      <input message="tns:SubscriptionMessage" name="subscription"/>
      <output message="tns:OperationResult" name="OperationResult"/>
    </operation>
    <operation name="CancelSubscription">
      <input message="tns:string" name="SubscriptionIDText"/>
      <output message="tns:OperationResult" name="OperationResult"/>
    </operation>
  </portType>
  <portType name="SubjectQueryInterface">
    <operation name="EntityQuery">
      <input message="tns:EntityQueryMessage" name="entity_identification"/>
      <output message="tns:SubjectInformationMessage" name="SubjectInformationMessage"/>
    </operation>
    <operation name="SubjectQuery">
      <input message="tns:SubjectQueryMessage" name="subject_identification"/>
      <output message="tns:SubjectInformationMessage" name="SubjectQueryreturn"/>
    </operation>
  </portType>
  <portType name="SubjectUpdateInterface">
    <operation name="SubjectUpdate">
      <input message="tns:SubjectInformationMessage" name="subject_information"/>
      <output message="tns:OperationResult" name="OperationResult"/>
    </operation>
  </portType>
  <portType name="MetadataInterface">
    <operation name="GetMetadata">
      <output message="tns:RepositoryMetadataMessage" name="RepositoryMetadataMessage"/>
    </operation>
  </portType>
  <binding name="SubjectSubscriptionInterfaceSubscriptionPointBinding" type="tns:SubjectSubscriptionInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaws:UsingAddressing xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" wsdl:required="true"/>
    <operation name="SubscribeToSubject">
      <soap:operation soapAction="http://my.org/CorrectionsInterfaces/SubjectSubscriptionInterface/SubscribeToSubject" style="document"/>
      <input name="subscription">
        <soap:body use="literal"/>
      </input>
      <output name="OperationResult">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CancelSubscription">
      <soap:operation soapAction="http://my.org/CorrectionsInterfaces/SubjectSubscriptionInterface/CancelSubscription" style="document"/>
      <input name="SubscriptionIDText">
        <soap:body use="literal"/>
      </input>
      <output name="OperationResult">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="SubjectQueryInterfaceSubjectQueryPointBinding" type="tns:SubjectQueryInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaws:UsingAddressing xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" wsdl:required="true"/>
    <operation name="EntityQuery">
      <soap:operation soapAction="http://my.org/CorrectionsInterfaces/SubjectQueryInterface/EntityQuery" style="document"/>
      <input name="entity_identification">
        <soap:body use="literal"/>
      </input>
      <output name="SubjectInformationMessage">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SubjectQuery">
      <soap:operation soapAction="http://my.org/CorrectionsInterfaces/SubjectQueryInterface/SubjectQuery" style="document"/>
      <input name="subject_identification">
        <soap:body use="literal"/>
      </input>
      <output name="SubjectQueryreturn">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="SubjectUpdateInterfaceSubjectUpdatePointBinding" type="tns:SubjectUpdateInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaws:UsingAddressing xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" wsdl:required="true"/>
    <operation name="SubjectUpdate">
      <soap:operation soapAction="http://my.org/CorrectionsInterfaces/SubjectUpdateInterface/SubjectUpdate" style="document"/>
      <input name="subject_information">
        <soap:body use="literal"/>
      </input>
      <output name="OperationResult">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="MetadataInterfaceMetadataPortBinding" type="tns:MetadataInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaws:UsingAddressing xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" wsdl:required="true"/>
    <operation name="GetMetadata">
      <soap:operation soapAction="http://my.org/CorrectionsInterfaces/MetadataInterface/GetMetadata" style="document"/>
      <output name="RepositoryMetadataMessage">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CaseFileProviderService">
    <port binding="tns:SubjectSubscriptionInterfaceSubscriptionPointBinding" name="SubscriptionPointPort">
      <soap:address/>
    </port>
    <port binding="tns:SubjectQueryInterfaceSubjectQueryPointBinding" name="SubjectQueryPointPort">
      <soap:address/>
    </port>
    <port binding="tns:SubjectUpdateInterfaceSubjectUpdatePointBinding" name="SubjectUpdatePointPort">
      <soap:address/>
    </port>
    <port binding="tns:MetadataInterfaceMetadataPortBinding" name="MetadataPortPort">
      <soap:address/>
    </port>
  </service>
</definitions>
