plugins/org.ijis.gra.uml.examples/src/main/resources/org.ijis.gra.uml.examples/COR_SSP_v_1.0.0x/CorrectionsIEPDModel2014GRA/artifacts/service model/information model/Corrections_iepd/XMLschemas/Content/extension/EntityExtension.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:CAT="http://it.ojp.gov/gist/200/Corrections/category" xmlns:SERVICE="http://it.ojp.gov/gist/200/Corrections/service" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:j="http://niem.gov/niem/domains/jxdm/4.1" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:tns="http://domain.gov/myDomain/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://domain.gov/myDomain/" version="&quot;1&quot;">
  <xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1" schemaLocation="../../../XMLschemas/Content/subset/niem/2.0/jxdm.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/category" schemaLocation="../../../XMLschemas/Content/extension/CategoryExtension.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/service" schemaLocation="../../../XMLschemas/Content/extension/SubjectServicesAndAssessments.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../../../XMLschemas/Content/subset/niem/2.0/niem-core.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../../XMLschemas/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../../XMLschemas/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../../../XMLschemas/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../../XMLschemas/structures/2.0/structures.xsd"/>
  <xsd:complexType abstract="false" mixed="false" name="ProgramType">
    <xsd:annotation>
      <xsd:appinfo>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
        <i:Base i:name="ProgramType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ProgramType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:EntityIdentification"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="EntityIdentification" nillable="false" substitutionGroup="s:Augmentation" type="tns:EntityAugmentationType">
    <xsd:annotation>
      <xsd:documentation>Information required to identify an entity and find additional information about that entity.</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="EntityAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type that supplements A data type for identification and record link information about any entity. Entities are considered any identifiable element.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AugmentationType" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:Identification"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:Category"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="tns:ThisRecordLink"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:OtherRecordLink"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="Identification" nillable="false" type="nc:IdentificationType">
    <xsd:annotation>
      <xsd:documentation>Any form of identification for any kind of identifiable entity</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Category" nillable="false" type="CAT:CategoryType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ThisRecordLink" nillable="false" type="tns:InformationRecordLinkType">
    <xsd:annotation>
      <xsd:documentation>Link to the record from which this data is derived</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="InformationRecordLinkType">
    <xsd:annotation>
      <xsd:documentation>A data type for A data type representing a linkable address from which to obtain information on any kind of entity (entity can be anything identifiable).</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="tns:LinkURI"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="tns:LinkText"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="tns:InformationSourceOrganizationReference"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="LinkURI" nillable="false" type="niem-xsd:anyURI">
    <xsd:annotation>
      <xsd:documentation>URL used to access data for a record</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="LinkText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation>Text describing link to a record - normally the entity name and the source of the information in an informal way. e.g. John Doe [Virginia state corrections]</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="InformationSourceOrganizationReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="OrganizationType" i:namespace="http://domain.gov/myDomain/"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="OrganizationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
      <xsd:appinfo>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
        <i:Base i:name="OrganizationType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:OrganizationType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="tns:EntityIdentification"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="OtherRecordLink" nillable="false" type="tns:InformationRecordLinkType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>Link to other records for the same entity. May be used to find additional information on the entity</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for a human being.</xsd:documentation>
      <xsd:appinfo>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
        <i:Base i:name="PersonType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:PersonType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="tns:EntityIdentification"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="tns:Supervises"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="Supervises" nillable="false" substitutionGroup="s:Augmentation" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>What services a supervisor supervises</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:name="ActivityType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
        <i:ReferenceTarget i:name="ServiceAugmentationType" i:namespace="http://it.ojp.gov/gist/200/Corrections/service"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="FacilityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a building, place, or structure that provides a particular service.</xsd:documentation>
      <xsd:appinfo>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
        <i:Base i:name="FacilityType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:FacilityType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="tns:EntityIdentificationn"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="EntityIdentificationn" nillable="false" substitutionGroup="s:Augmentation" type="tns:EntityAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>Information required to identify an entity and find additional information about that entity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="PersonLocatorType">
    <xsd:annotation>
      <xsd:documentation>A data type for information required to locate the record of a person</xsd:documentation>
      <xsd:appinfo>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
        <i:Base i:name="PersonType" i:namespace="http://domain.gov/myDomain/"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="tns:PersonType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="nc:PersonBirthDate"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="nc:PersonName"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="tns:null"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" nillable="false" type="tns:EntityAugmentationType">
    <xsd:annotation>
      <xsd:documentation>Supplements A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="OffenseType">
    <xsd:annotation>
      <xsd:documentation>A data type for an alleged violation of a statute, ordinance, or rul</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="OffenseType" i:namespace="http://niem.gov/niem/domains/jxdm/4.1"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="j:OffenseType">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="IncidentType">
    <xsd:annotation>
      <xsd:documentation>A data type for an occurrence or an event that may require a response.</xsd:documentation>
      <xsd:appinfo>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
        <i:Base i:name="IncidentType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:IncidentType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="tns:EntityIdentification"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
</xsd:schema>
