plugins/org.ijis.gra.uml.examples/src/main/resources/org.ijis.gra.uml.examples/COR_SSP_v_1.0.0/COR_SSP_v_1.0.0/artifacts/service model/information model/Corrections_iepd/XMLschemas/Content/extension/SubjectServicesAndAssessments.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:CAT="http://it.ojp.gov/gist/200/Corrections/category" xmlns:ENTITY="http://it.ojp.gov/gist/200/Corrections/entities" xmlns:Q1="http://niem.gov/niem/niem-core/2.0" xmlns:Q2="http://it.ojp.gov/gist/200/Corrections/entities" xmlns:Q3="http://it.ojp.gov/gist/200/Corrections/category" xmlns:SERVICE="http://it.ojp.gov/gist/200/Corrections/service" xmlns:SUBJ="http://it.ojp.gov/gist/200/Corrections/subject" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://it.ojp.gov/gist/200/Corrections/service" version="&quot;1&quot;">
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/entities" schemaLocation="../../../XMLschemas/Content/extension/EntityExtension.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/category" schemaLocation="../../../XMLschemas/Content/extension/CategoryExtension.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../../../XMLschemas/Content/subset/niem/2.0/niem-core.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/subject" schemaLocation="../../../XMLschemas/Content/extension/CorrectionsSubjectExtension.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../../../XMLschemas/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../../XMLschemas/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../../XMLschemas/structures/2.0/structures.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../../XMLschemas/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:complexType abstract="false" mixed="false" name="AssessmentType">
    <xsd:annotation>
      <xsd:documentation>A data type for An assessment is an service performed for a subject by an assessor in an assessing organization. An assessment determines some risks or capabilities associated with a subject.
Each assessment (service) has a category, recommendation and an optional set of documents and assessment scores.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssessmentType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Q1:AssessmentType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SERVICE:Service"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:AssessmentScore"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SERVICE:ProducedIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SERVICE:RiskLevelCode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="Service" nillable="false" type="SERVICE:ServiceType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="ServiceType">
    <xsd:annotation>
      <xsd:documentation>A data type for a categorized service, an activity performed for a subject by a service provider and supervised by a service supervisor. A service may have a set of associated documents.
Kinds of services include treatments, education and assessments.
Services are kinds of activities but aggregated as a property due to NIEM rules.</xsd:documentation>
      <xsd:appinfo>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:EntityIdentification"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:Subject"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SERVICE:ServiceProvider"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:Category"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SERVICE:ServiceSupervisor"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SERVICE:ServiceDocument"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SERVICE:ServiceLog"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SERVICE:DispositationText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="EntityIdentification" nillable="false" substitutionGroup="s:Augmentation" type="Q2:EntityAugmentationType">
    <xsd:annotation>
      <xsd:documentation>Identification of a service</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Subject" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>The subject of a service</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="SubjectType" i:namespace="http://it.ojp.gov/gist/200/Corrections/subject"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="LevelCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="High"/>
      <xsd:enumeration value="Medium"/>
      <xsd:enumeration value="Low"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element abstract="false" name="ServiceProvider" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>The provider(s) of a service</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ServiceProviderType" i:namespace="http://it.ojp.gov/gist/200/Corrections/service"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="ServiceProviderType">
    <xsd:annotation>
      <xsd:documentation>A data type for A data type representing a service provider, a service provider provides services to subjects</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SERVICE:ProvidesService"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:Category"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SERVICE:RoleOfOrganizationTypeReference"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="ProvidesService" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Services provided by a provider</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ServiceType" i:namespace="http://it.ojp.gov/gist/200/Corrections/service"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Category" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Category of service provider</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="CategoryType" i:namespace="http://it.ojp.gov/gist/200/Corrections/category"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="RoleOfOrganizationTypeReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="OrganizationType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceSupervisor" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>THe supervisor of a service</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType" i:namespace="http://it.ojp.gov/gist/200/Corrections/service"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for a human being.</xsd:documentation>
      <xsd:appinfo>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
        <i:Base i:name="PersonType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Q1:PersonType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SERVICE:EntityIdentification"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SERVICE:Supervises"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="Supervises" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>What services a supervisor supervises</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ServiceType" i:namespace="http://it.ojp.gov/gist/200/Corrections/service"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceDocument" nillable="false" type="Q1:DocumentType">
    <xsd:annotation>
      <xsd:documentation>Documetns that specify a service</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceLog" nillable="false" type="Q1:DocumentType">
    <xsd:annotation>
      <xsd:documentation>A log of documents descrbing a service</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="DispositationText" nillable="false" type="Q1:TextType">
    <xsd:annotation>
      <xsd:documentation>Disposition of the service</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="AssessmentScore" nillable="false" type="CAT:ScoreType">
    <xsd:annotation>
      <xsd:documentation>Cores determined by an assessment</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ProducedIndicator" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Indicators proced by an assessmnet</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="IndicatorType" i:namespace="http://it.ojp.gov/gist/200/Corrections/subject"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="RiskLevelCode" nillable="false" type="SERVICE:LevelCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="EducationType">
    <xsd:annotation>
      <xsd:documentation>A data type for the educational services for a subject</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Q1:ActivityType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:Service"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
</xsd:schema>
