plugins/org.ijis.gra.ebxml.ebBPSS/src/main/resources/model/ebBPSS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by Kurt Kanaskie (Lucent Technologies) -->
<!-- edited by Kurt Kanaskie (Lucent Technologies) -->
<!-- Updated 2001-05-24
	This is the XMLSpy 3.5 version which is different than the PR W3C Schema and uses:
		uriReference instead of anyURI
		timeDuration instead of duration

	Differences from DTD version:
	<xsd:attribute name="pattern" type="xsd:anyURI"/>
	<xsd:attribute name="uri" type="xsd:anyURI" use="required"/>
	<xsd:attribute name="location" type="xsd:anyURI"/>
	<xsd:attribute name="logicalModel" type="xsd:anyURI"/>
	<xsd:attribute name="specification" type="xsd:anyURI"/>
	<xsd:attribute name="timeToPerform" type="xsd:duration"/>
	<xsd:attribute name="timeToPerform" type="xsd:duration"/>
	<xsd:attribute name="timeToAcknowledgeAcceptance" type="xsd:duration"/>
	<xsd:attribute name="timeToAcknowledgeReceipt" type="xsd:duration"/>
	<xsd:attribute name="timeToAcknowledgeAcceptance" type="xsd:duration"/>
	<xsd:attribute name="timeToAcknowledgeReceipt" type="xsd:duration"/>
	<xsd:attribute name="isAuthenticated" type="xsd:boolean" value="false"/>
	<xsd:attribute name="isConfidential" type="xsd:boolean" value="false"/>
	<xsd:attribute name="isTamperProof" type="xsd:boolean" value="false"/>
	<xsd:attribute name="isGuaranteedDeliveryRequired" type="xsd:boolean" value="false"/>
	<xsd:attribute name="isConcurrent" type="xsd:boolean" value="true"/>
	<xsd:attribute name="isLegallyBinding" type="xsd:boolean" value="true"/>
	<xsd:attribute name="isAuthenticated" type="xsd:boolean" value="false"/>
	<xsd:attribute name="isConfidential" type="xsd:boolean" value="false"/>
	<xsd:attribute name="isTamperProof" type="xsd:boolean" value="false"/>
	<xsd:attribute name="waitForAll" type="xsd:boolean" value="true"/>
	<xsd:attribute name="isAuthorizationRequired" type="xsd:boolean" value="false"/>
	<xsd:attribute name="isIntelligibleCheckRequired" type="xsd:boolean" value="false"/>
	<xsd:attribute name="isNonRepudiationReceiptRequired" type="xsd:boolean" value="false"/>
	<xsd:attribute name="isNonRepudiationRequired" type="xsd:boolean" value="false"/>
	<xsd:attribute name="isAuthorizationRequired" type="xsd:boolean" value="false"/>
	<xsd:attribute name="isIntelligibleCheckRequired" type="xsd:boolean" value="false"/>
	<xsd:attribute name="isNonRepudiationReceiptRequired" type="xsd:boolean" value="false"/>
	<xsd:attribute name="isNonRepudiationRequired" type="xsd:boolean" value="false"/>
	<xsd:attribute name="onInitiation" type="xsd:boolean" value="false"/>
	<xsd:attribute name="isPositiveResponse" type="xsd:boolean"/>
<xsd:schema targetNamespace="http://www.ebxml.org/BusinessProcess" xmlns="http://www.ebxml.org/BusinessProcess" xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" elementFormDefault="qualified">
-->
<xsd:schema targetNamespace="http://www.ebxml.org/BusinessProcess" xmlns="http://www.ebxml.org/BusinessProcess" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="Attachment">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="nameID" type="xsd:ID"/>
			<xsd:attribute name="businessDocument" type="xsd:string"/>
			<xsd:attribute name="businessDocumentIDRef" type="xsd:IDREF"/>
			<!-- 
			<xsd:attribute name="specification" type="xsd:uriReference"/>
			 -->
			<xsd:attribute name="specification" type="xsd:anyURI"/>
			<xsd:attribute name="mimeType" type="xsd:string" use="required"/>
			<xsd:attribute name="version" type="xsd:string"/>
			<!-- 
			<xsd:attribute name="isAuthenticated" type="xsd:boolean" value="false"/>
			<xsd:attribute name="isConfidential" type="xsd:boolean" value="false"/>
			<xsd:attribute name="isTamperProof" type="xsd:boolean" value="false"/>
			 -->
			<xsd:attribute name="isAuthenticated" type="xsd:boolean" default="false"/>
			<xsd:attribute name="isConfidential" type="xsd:boolean" default="false"/>
			<xsd:attribute name="isTamperProof" type="xsd:boolean" default="false"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InitiatingRole">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="nameID" type="xsd:ID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RespondingRole">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="nameID" type="xsd:ID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BinaryCollaboration">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="InitiatingRole"/>
				<xsd:element ref="RespondingRole"/>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="Documentation"/>
					<xsd:element ref="Start"/>
					<xsd:element ref="Transition"/>
					<xsd:element ref="Success"/>
					<xsd:element ref="Failure"/>
					<xsd:element ref="BusinessTransactionActivity"/>
					<xsd:element ref="CollaborationActivity"/>
					<xsd:element ref="Fork"/>
					<xsd:element ref="Join"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="nameID" type="xsd:ID"/>
			<!-- 
			<xsd:attribute name="pattern" type="xsd:anyURI"/>
			 -->
			<xsd:attribute name="pattern" type="xsd:anyURI"/>
			<xsd:attribute name="beginsWhen" type="xsd:string"/>
			<xsd:attribute name="endsWhen" type="xsd:string"/>
			<xsd:attribute name="preCondition" type="xsd:string"/>
			<xsd:attribute name="postCondition" type="xsd:string"/>
			<!-- 
			<xsd:attribute name="timeToPerform" type="xsd:timeDuration"/>
			 -->
			<xsd:attribute name="timeToPerform" type="xsd:duration"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BusinessDocument">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ConditionExpression" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="nameID" type="xsd:ID"/>
			<xsd:attribute name="specificationLocation" type="xsd:string"/>
			<xsd:attribute name="specificationElement" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SubstitutionSet">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DocumentSubstitution" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="AttributeSubstitution" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string"/>
			<xsd:attribute name="nameId" type="xsd:ID"/>
			<xsd:attribute name="applyToScope" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DocumentSubstitution">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="originalBusinessDocument" type="xsd:string"/>
			<xsd:attribute name="originalBusinessDocumentID" type="xsd:ID"/>
			<xsd:attribute name="substituteBusinessDocument" type="xsd:string"/>
			<!-- cannot have two id
			<xsd:attribute name="substituteBusinessDocumentId" type="xsd:ID"/>
			 -->
			<xsd:attribute name="substituteBusinessDocumentId" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AttributeSubstitution">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="attributeName" type="xsd:string"/>
			<xsd:attribute name="value" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ConditionExpression">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="expressionLanguage" type="xsd:string"/>
			<xsd:attribute name="expression" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BusinessPartnerRole">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Performs" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Transition" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="nameID" type="xsd:ID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BusinessTransaction">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="RequestingBusinessActivity"/>
				<xsd:element ref="RespondingBusinessActivity"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="nameID" type="xsd:ID"/>
			<!-- 
			<xsd:attribute name="pattern" type="xsd:uriReference"/>
			 -->
			<xsd:attribute name="pattern" type="xsd:anyURI"/>
			<xsd:attribute name="beginsWhen" type="xsd:string"/>
			<xsd:attribute name="endsWhen" type="xsd:string"/>
			<!-- 
			<xsd:attribute name="isGuaranteedDeliveryRequired" type="xsd:boolean" value="false"/>
			 -->
			<xsd:attribute name="isGuaranteedDeliveryRequired" type="xsd:boolean" default="false"/>
			<xsd:attribute name="preCondition" type="xsd:string"/>
			<xsd:attribute name="postCondition" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BusinessTransactionActivity">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="nameID" type="xsd:ID"/>
			<xsd:attribute name="businessTransaction" type="xsd:string" use="required"/>
			<xsd:attribute name="businessTransactionIDRef" type="xsd:IDREF"/>
			<xsd:attribute name="fromAuthorizedRole" type="xsd:string" use="required"/>
			<xsd:attribute name="fromAuthorizedRoleIDRef" type="xsd:IDREF"/>
			<xsd:attribute name="toAuthorizedRole" type="xsd:string" use="required"/>
			<xsd:attribute name="toAuthorizedRoleIDRef" type="xsd:IDREF"/>
			<!-- 
			<xsd:attribute name="isConcurrent" type="xsd:boolean" value="true"/>
			<xsd:attribute name="isLegallyBinding" type="xsd:boolean" value="true"/>
			<xsd:attribute name="timeToPerform" type="xsd:timeDuration"/>
			 -->
			<xsd:attribute name="isConcurrent" type="xsd:boolean" default="true"/>
			<xsd:attribute name="isLegallyBinding" type="xsd:boolean" default="true"/>
			<xsd:attribute name="timeToPerform" type="xsd:duration"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CollaborationActivity">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="nameID" type="xsd:ID"/>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="fromAuthorizedRole" type="xsd:string" use="required"/>
			<xsd:attribute name="fromAuthorizedRoleIDRef" type="xsd:IDREF"/>
			<xsd:attribute name="toAuthorizedRole" type="xsd:string" use="required"/>
			<xsd:attribute name="toAuthorizedRoleIDRef" type="xsd:IDREF"/>
			<xsd:attribute name="binaryCollaboration" type="xsd:string" use="required"/>
			<xsd:attribute name="binaryCollaborationIDRef" type="xsd:IDREF"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DocumentEnvelope">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Attachment" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="businessDocument" type="xsd:string" use="required"/>
			<xsd:attribute name="businessDocumentIDRef" type="xsd:IDREF"/>
			<xsd:attribute name="isPositiveResponse" type="xsd:boolean"/>
			<!-- 
			<xsd:attribute name="isAuthenticated" type="xsd:boolean" value="false"/>
			<xsd:attribute name="isConfidential" type="xsd:boolean" value="false"/>
			<xsd:attribute name="isTamperProof" type="xsd:boolean" value="false"/>
			 -->
			<xsd:attribute name="isAuthenticated" type="xsd:boolean" default="false"/>
			<xsd:attribute name="isConfidential" type="xsd:boolean" default="false"/>
			<xsd:attribute name="isTamperProof" type="xsd:boolean" default="false"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Documentation">
		<xsd:complexType>
			<xsd:simpleContent>
			<!-- 
				<xsd:restriction base="xsd:string">
					<xsd:attribute name="uri" type="xsd:uriReference"/>
				</xsd:restriction>
			 -->
				<xsd:extension base="xsd:string">
					<xsd:attribute name="uri" type="xsd:anyURI"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Failure">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ConditionExpression" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="fromBusinessState" type="xsd:string" use="required"/>
			<xsd:attribute name="fromBusinessStateIDRef" type="xsd:IDREF"/>
			<xsd:attribute name="conditionGuard">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="Success"/>
						<xsd:enumeration value="BusinessFailure"/>
						<xsd:enumeration value="TechnicalFailure"/>
						<xsd:enumeration value="AnyFailure"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Fork">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="nameID" type="xsd:ID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Include">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="uuid" type="xsd:string" use="required"/>
			<!-- 
			<xsd:attribute name="uri" type="xsd:uriReference" use="required"/>
			 -->
			<xsd:attribute name="uri" type="xsd:anyURI" use="required"/>
			<xsd:attribute name="version" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Join">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="nameID" type="xsd:ID"/>
			<!-- 
			<xsd:attribute name="waitForAll" type="xsd:boolean" value="true"/>
			 -->
			<xsd:attribute name="waitForAll" type="xsd:boolean" default="true"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MultiPartyCollaboration">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="BusinessPartnerRole" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="nameID" type="xsd:ID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Package">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="Package"/>
					<xsd:element ref="BinaryCollaboration"/>
					<xsd:element ref="BusinessTransaction"/>
					<xsd:element ref="MultiPartyCollaboration"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="nameID" type="xsd:ID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Performs">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="initiatingRole" type="xsd:string" use="optional"/>
			<xsd:attribute name="initiatingRoleIDRef" type="xsd:IDREF" use="optional"/>
			<xsd:attribute name="respondingRole" type="xsd:string" use="optional"/>
			<xsd:attribute name="respondingRoleIDRef" type="xsd:IDREF" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ProcessSpecification">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SubstitutionSet" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="Include"/>
					<xsd:element ref="BusinessDocument"/>
					<xsd:element ref="ProcessSpecification"/>
					<xsd:element ref="Package"/>
					<xsd:element ref="BinaryCollaboration"/>
					<xsd:element ref="BusinessTransaction"/>
					<xsd:element ref="MultiPartyCollaboration"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:ID" use="required"/>
			<xsd:attribute name="uuid" type="xsd:string" use="required"/>
			<xsd:attribute name="version" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RequestingBusinessActivity">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="DocumentEnvelope"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="nameID" type="xsd:ID"/>
			<!-- 
			<xsd:attribute name="isAuthorizationRequired" type="xsd:boolean" value="false"/>
			<xsd:attribute name="isIntelligibleCheckRequired" type="xsd:boolean" value="false"/>
			<xsd:attribute name="isNonRepudiationReceiptRequired" type="xsd:boolean" value="false"/>
			<xsd:attribute name="isNonRepudiationRequired" type="xsd:boolean" value="false"/>
			<xsd:attribute name="timeToAcknowledgeAcceptance" type="xsd:timeDuration"/>
			<xsd:attribute name="timeToAcknowledgeReceipt" type="xsd:timeDuration"/>
			 -->
			<xsd:attribute name="isAuthorizationRequired" type="xsd:boolean" default="false"/>
			<xsd:attribute name="isIntelligibleCheckRequired" type="xsd:boolean" default="false"/>
			<xsd:attribute name="isNonRepudiationReceiptRequired" type="xsd:boolean" default="false"/>
			<xsd:attribute name="isNonRepudiationRequired" type="xsd:boolean" default="false"/>
			<xsd:attribute name="timeToAcknowledgeAcceptance" type="xsd:duration"/>
			<xsd:attribute name="timeToAcknowledgeReceipt" type="xsd:duration"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RespondingBusinessActivity">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="DocumentEnvelope" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required"/>
			<xsd:attribute name="nameID" type="xsd:ID"/>
			<!-- 
			<xsd:attribute name="isAuthorizationRequired" type="xsd:boolean" value="false"/>
			<xsd:attribute name="isIntelligibleCheckRequired" type="xsd:boolean" value="false"/>
			<xsd:attribute name="isNonRepudiationReceiptRequired" type="xsd:boolean" value="false"/>
			<xsd:attribute name="isNonRepudiationRequired" type="xsd:boolean" value="false"/>
			<xsd:attribute name="timeToAcknowledgeReceipt" type="xsd:timeDuration"/>
			 -->
			<xsd:attribute name="isAuthorizationRequired" type="xsd:boolean" default="false"/>
			<xsd:attribute name="isIntelligibleCheckRequired" type="xsd:boolean" default="false"/>
			<xsd:attribute name="isNonRepudiationReceiptRequired" type="xsd:boolean" default="false"/>
			<xsd:attribute name="isNonRepudiationRequired" type="xsd:boolean" default="false"/>
			<xsd:attribute name="timeToAcknowledgeReceipt" type="xsd:duration"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Start">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="toBusinessState" type="xsd:string" use="required"/>
			<xsd:attribute name="toBusinessStateIDRef" type="xsd:IDREF"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Success">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ConditionExpression" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="fromBusinessState" type="xsd:string" use="required"/>
			<xsd:attribute name="fromBusinessStateIDRef" type="xsd:IDREF"/>
			<xsd:attribute name="conditionGuard">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="Success"/>
						<xsd:enumeration value="BusinessFailure"/>
						<xsd:enumeration value="TechnicalFailure"/>
						<xsd:enumeration value="AnyFailure"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Transition">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Documentation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ConditionExpression" minOccurs="0"/>
			</xsd:sequence>
			<!-- 
			<xsd:attribute name="onInitiation" type="xsd:boolean" value="false"/>
			 -->
			<xsd:attribute name="onInitiation" type="xsd:boolean" default="false"/>
			<xsd:attribute name="fromBusinessState" type="xsd:string"/>
			<xsd:attribute name="fromBusinessStateIDRef" type="xsd:IDREF"/>
			<xsd:attribute name="toBusinessState" type="xsd:string"/>
			<xsd:attribute name="toBusinessStateIDRef" type="xsd:IDREF"/>
			<xsd:attribute name="conditionGuard">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="Success"/>
						<xsd:enumeration value="BusinessFailure"/>
						<xsd:enumeration value="TechnicalFailure"/>
						<xsd:enumeration value="AnyFailure"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
